/* Color pallete
    #525252
    #414141
    #313131
    #ca3e47
  */

// Scrollbar
html {
  scroll-behavior: smooth;
  margin-left: calc(100vw - 100%);
  scrollbar-color: #525252 #414141 !important;
}
::-webkit-scrollbar {
  width: 13px;
  height: 3px;
}
::-webkit-scrollbar-button {
  background-color: #666;
}
::-webkit-scrollbar-track {
  background-color: #414141;
}
::-webkit-scrollbar-track-piece {
  background-color: #313131;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  background-color: #646464;
}
::-webkit-resizer {
  background-color: #666;
}

html,
.App {
  background-color: #313131;
  color: #fff;
}

.content * {
  -webkit-animation: fadeIn 1s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeIn 1s;
  /* Firefox < 16 */
  -ms-animation: fadeIn 1s;
  /* Internet Explorer */
  -o-animation: fadeIn 1s;
  /* Opera < 12.1 */
  animation: fadeIn 1s;
}

/* Navbar */
.nav-link {
  padding-bottom: 0 !important;
  color: #ddd !important;
  font-size: 1.4rem !important;

  -webkit-animation: fadeIn 1s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeIn 1s;
  /* Firefox < 16 */
  -ms-animation: fadeIn 1s;
  /* Internet Explorer */
  -o-animation: fadeIn 1s;
  /* Opera < 12.1 */
  animation: fadeIn 1s;
}

.nav-link:hover {
  color: #fff !important;
}

.brand-link {
  min-width: 200px !important;
  text-decoration: none !important;

  font-size: 2rem !important;
  color: #fff !important;
  padding-top: 0 !important;
}

/* main */
.content {
  margin-top: 1%;
}

// Profile
.profile-picture {
  object-fit: cover;
  width: 230px;
  height: 230px;
}

.certificate {
  max-height: 250px !important;
  width: auto;
  border: 1px solid black;
}

.book-cover {
  max-height: 175px !important;
  width: auto;
}

// Articles
.categories {
  .category {
    overflow: visible;
  }
}

/* Article */
.about {
  margin-top: 10px;
  background: #ca3e47;
}

.card-img {
  width: 100%;
  height: calc(max(15vw, 300px));
  object-fit: cover;
}

.category {
  border-radius: 15px;
  cursor: default;
}

a {
  color: #ca3e47 !important;
}

ol a {
  font-size: 1.1rem;
}

a i {
  font-size: 1.6rem;
}

.video-container {
  margin-top: 15px;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

code {
  color: #ca3e47 !important;
}

// Font Awesome
.fa-ul {
  margin: 0 !important;
  margin-left: 10px !important;
}

.fa-github {
  color: #fff;
}

.fa-discord {
  color: #8a9cfe;
}

.fa-discord:before {
  background-image: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
  background-size: 75% 65%;
  background-position: center;
}

.fa-twitter {
  color: #00a2f3;
}

.fa-envelope {
  color: #fff;
}

.fa-laravel {
  color: #ff2d20;
}

.fa-php {
  color: #858eb8;
}

.fa-node-js {
  color: #68a063;
}

.fa-html5 {
  color: #f4470b;
}

.fa-js {
  color: #e9d44d;
}

.fa-heart {
  color: red;
  font-size: 0.8rem;
}

.fa-react {
  color: #5ed3f3;
}

.fa-sass {
  color: #c66092;
}

.fa-bootstrap {
  color: #613f8e;
}

.fa-bootstrap:before {
  background-image: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
  background-size: 75% 65%;
  background-position: center;
}

.fa-database {
  color: #3194d4;
}

.fa-leaf {
  color: green;
}

.fa-digital-ocean {
  color: #007cf7;
}

.fa-raspberry-pi {
  color: #cf254d;
}

.fa-windows {
  color: #825cbf;
}

.fa-unity {
  color: black;
}

.fa-unity:before {
  background-image: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: center;
}

/* Keyframes / Animations / Transitions */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Loading component */
.lds-grid {
  display: inline-block;
  position: relative;
  transform: translateX(-40px);
}

.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ca3e47;
  animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}

@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

@media (max-width: 345px) {
  .brand-link {
    margin-left: 25%;
    margin-right: 25%;
  }
}
@media (max-width: 450px) {
  .brand-link {
    min-width: auto !important;
    font-size: 1.7rem !important;
  }
  .nav-link {
    font-size: 1.2rem !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .about {
    margin-top: 0px;
  }
}

/* /Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .books {
    display: flex;
    justify-content: space-between;
  }
  .book-cover {
    max-height: 200px !important;
  }

  .certificates {
    display: flex;
    justify-content: center;
    margin-bottom: 0 !important;
  }
}
