.carousel {
  min-width: 100%;
}

.carousel img {
  filter: brightness(80%);
  min-width: 100%;
  min-height: 100%;
}

.carousel .badge {
  z-index: 1 !important;
}

.carousel a {
  text-decoration: none;
  color: inherit !important;
}
