/* Color pallete
    #525252
    #414141
    #313131
    #ca3e47
  */

html,
.App {
  background-color: #313131;
  color: #fff;
}

@import './scrollbar.scss';
@import './font.scss';
@import './navbar.scss';
@import './loading.scss';
@import './articles.scss';
@import './article.scss';
@import './profile.scss';

.content {
  margin-top: 1%;
}

.content * {
  -webkit-animation: fadeIn 1s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeIn 1s;
  /* Firefox < 16 */
  -ms-animation: fadeIn 1s;
  /* Internet Explorer */
  -o-animation: fadeIn 1s;
  /* Opera < 12.1 */
  animation: fadeIn 1s;
}

a {
  color: #ca3e47 !important;
}

/* Keyframes / Animations / Transitions */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
