$text: #fff;
$primary: #313131;
$secondary: #414141;
$tertiary: #525252;
$red: #ca3e47;

html {
  font-size: 14px !important;  
  @media (min-width: 800px) {
    font-size: 15px !important;
  }  
  @media (min-width: 1200px) {
    font-size: 17px !important;
  }
}

html,
.App {
  background-color: $primary;
  color: $text;
}

@import './scrollbar.scss';
@import './font.scss';
@import './navbar.scss';
@import './loading.scss';
@import './articles.scss';
@import './article.scss';
@import './profile.scss';

.content * {
  -webkit-animation: fadeIn 1s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeIn 1s;
  /* Firefox < 16 */
  -ms-animation: fadeIn 1s;
  /* Internet Explorer */
  -o-animation: fadeIn 1s;
  /* Opera < 12.1 */
  animation: fadeIn 1s;
}

a {
  color: #ca3e47 !important;
}

/* Keyframes / Animations / Transitions */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
